.profile-card-image {
  height: 240px;
  object-fit: cover;
}
app-profile-picture {
  position: absolute;
  top: 155px;
  left: calc(50% - 160px / 2);
}
mat-card-content {
  padding-top: 100px;
}
mat-card-content .container {
  padding-top: 25px;
}
mat-card-content .container .text-input {
  width: 49%;
}
mat-card-content .container mat-radio-group {
  display: flex;
  margin-top: 10px;
}
mat-card-content .container .mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
mat-card-content .container .bio-full-width {
  width: 100%;
}
mat-card-content .form-buttons {
  margin-left: auto;
}
mat-card-content .form-buttons button {
  margin-left: 20px;
}
.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
