<mat-card class="profile-card">
    <img class="profile-card-image" mat-card-image src="assets/img/card-bg.png" alt="header image">
    <app-profile-picture #pictureComponent></app-profile-picture>
    <mat-card-content>
        <form [formGroup]="userForm">
            <div class="container flex justify-content-between">
                <mat-form-field appearance="fill" class="text-input">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="username" formControlName="username">
                    <mat-error *ngIf="username.errors && username.errors.required && username.touched">Username is
                        required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="text-input">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="email">
                    <mat-error *ngIf="email.invalid && email.touched">Email format is incorrect</mat-error>
                </mat-form-field>
            </div>
            <div class="container">
                <label id="gender-radio-group-label">Gender</label>
                <mat-radio-group aria-labelledby="gender-radio-group-label" placeholder="gender"
                    formControlName="gender">
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
                <mat-error *ngIf="gender.errors && gender.errors.required && gender.touched"> Gender is required
                </mat-error>
            </div>
            <div class="container">
                <mat-form-field class="bio-full-width">
                    <mat-label>Bio</mat-label>
                    <textarea matInput placeholder="Ex: My name is..." formControlName="bio"></textarea>
                    <mat-error *ngIf="bio.errors && bio.errors.required && bio.touched">Bio is required</mat-error>
                </mat-form-field>
            </div>
            <div class="flex">
                <div class="form-buttons">
                    <button mat-raised-button color="primary" type="button" (click)="resetUser()">Reset</button>
                    <button mat-raised-button color="primary" type="button"
                        (click)="submitForm()">Save</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
