.profile-card-image {
  height: 240px;
  object-fit: cover;
}
app-profile-picture {
  position: absolute;
  top: 155px;
  left: calc(50% - 160px / 2);
}

mat-card-content {
  padding-top: 100px;
  .container {
    padding-top: 25px;
    .text-input {
      width: 49%;
    }
    mat-radio-group {
      display: flex;
      margin-top: 10px;
    }
    .mat-radio-button ~ .mat-radio-button {
      margin-left: 16px;
    }
    .bio-full-width {
      width: 100%;
    }
  }
  .form-buttons {
    margin-left: auto;
    button {
      margin-left: 20px;
    }
  }
}

.flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
