<div class="profile-image-container" *ngIf="profileImage">
    <label class="profile-user-image-label" for="upload" *ngIf="!profileImageExists"></label>
    <label for="upload" class="profile-user-image-label-icon" *ngIf="profileImageExists">
        <i class="material-icons"> edit </i>
    </label>
    <img class="profile-user-image" [src]="profileImage">
    <input style="display:none" id="upload" type="file" accept="image/*" (change)="uploadProfilePicture($event)">
</div>
