.profile-user-image {
  display: block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
}
.profile-user-image-label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.profile-user-image-label-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #004363;
  color: #fff;
  line-height: 63px;
  text-align: center;
  cursor: pointer;
}
