<mat-toolbar color="primary">
    <div class="logo"><i class="material-icons"> touch_app </i></div>
    <div class="title">
        <span>Slash My Profile</span>
    </div>
</mat-toolbar>
<mat-grid-list [cols]="breakpoint" rowHeight="750px" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <app-profile-information></app-profile-information>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-profile-location></app-profile-location>
    </mat-grid-tile>
</mat-grid-list>
