<mat-card class="profile-card">
    <div #mapContainer id="map"></div>
    <button mat-raised-button color="primary" (click)="showMyLocation()">Get my location <i class="material-icons">
            location_on </i></button>
</mat-card>
